.searchCard {
  margin-left:10px;
  border: 1px solid silver;
  background-color: #B1D0E0;
  border-radius: 5px;
  text-align: left;
  padding: 8px;
}
.header {
  font-size: 20px;
  font-weight: 700;
}
.resulBackground{
  background-color: #B1D0E0;
}
.resultCard{
  border: 1px solid silver;
  background-color: #6998AB;
  margin-bottom: 10px;
  border-radius: 5px;
}
.resultCard p {
    font-weight: 600;
    margin : 2px;
    color: #1A374D;
    font-size: small;
}
.resultCardButton {
  float: right;
}
.searchInput{
  padding-top: 10px;
}
.numberInput{
  max-width: 80%;
}
.floatRight {
  float: right;
}
.resultCardTitle {
  color :#1A374D;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
}

