
.searchCard {
  margin-left:10px;
  border: 1px solid silver;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: left;
  padding: 8px;
}
.header {
  font-size: 20px;
}
.resultCard{
  border: 1px solid silver;
  background-color: grey;
  margin-bottom: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 400;
}
.resultCard p {
    margin : 2px;
    color: white;
}
.resultCardButton {
  float: right;
}
.searchInput{
  padding-top: 10px;
}
.numberInput{
  max-width: 60%;
}
.floatRight {
  float: right;
}
