
.normal {
  font-family: Georgia, sans-serif;
  margin-top: 4em;
  text-align: center;
}

.welcome {
  height: 512px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 512px 512px;
}

.list {
  font-size: 1.2em;
  margin: 1.8em 0 0;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}

.searchCard {
  margin-left:10px;
  width: 300px;
  border: 1px solid silver;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: left;
  padding: 8px;
}
.searchInput{
  margin-left:30px;
  padding-top: 10px;
  /* color: #1890ff; */
}
.numberInput{
  width:40px;
  margin-left:10px;
}
