
.normal {
  font-family: sans-serif;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: -1px;
  background: #1A374D;
  padding: .2em .6em;
  color: white;
  margin: 0;
  margin-bottom: 10px;
}
.titleSpan {
  cursor: pointer;
  color: #6998AB;
}
